/*#container{
	margin:0 auto;
	width:70%;
}*/


.left {
	    display: block;
        margin-left:25px;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        width: 650px;
        border:2px solid red;
		float:left;
}
.right {
		display: block;
        margin-left:25px;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        width: 500px;
		border:2px solid red;
		float:left;
}

p {
		margin-left: 25px;
		color: #4d4d4d;
		font-size: 18px;
		line-height: 1.5;
		font-family: 'Helvetica';
		padding: 10px 10px 10px 10px;

}

pre {
		margin-left: 25px;
		color: #4d4d4d;
		font-size: 18px;
		line-height: 1.5;
		font-family: 'Helvetica';
		padding: 10px 10px 10px 10px;
}

a:hover
{ 
background-color:yellow;
}

h1 {
	hover:blue;
}

h3 {
		color:blue;
}