/*#container{
	margin:0 auto;
	width:70%;
}*/


.left {
	    display: block;
        margin-left:25px;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        width: 650px;
        border:2px solid red;
		float:left;
}
.right {
		display: block;
        margin-left:25px;
        margin-top: 50px;
        padding: 15px 15px 15px 15px;
        width: 500px;
		border:2px solid red;
		float:left;
}

p {
		font-size: 20px;
}

a:hover
{ 
background-color:yellow;
}

h1 {
	hover:blue;
}

h3 {
		color:blue;
}